<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASi5iBZx2AwWr3FWYn_PNhw6QgQKfw_aY</string>
	<key>GCM_SENDER_ID</key>
	<string>165260576421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raneri</string>
	<key>PROJECT_ID</key>
	<string>e-raneri</string>
	<key>STORAGE_BUCKET</key>
	<string>e-raneri.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165260576421:ios:19c6a91b2c0e733a106f4c</string>
</dict>
</plist>